<%- include("../partials/header")  %> 
<link type="text/css" rel="stylesheet" href="./stylesheets/auth.css">
<div class="container text-center">
  <h1>Login</h1>
  <form class="h-25" action="/login" method="POST">
    <div>
      <input class="w-25 mt-2" type="text" name="username" placeholder="username">
    </div>
    <div>
      <input class="w-25 mt-2" type="password" name="password" placeholder="password">
    </div>
    <div>
      <button class="btn btn-success w-25 mt-2">Login</button>
    </div>
  </form>
  <form action="/google">
  <button>Login With Google</button>
  </form>
</div>

<%- include("../partials/footer")  %> 