<%- include("../partials/header") %> 
<h1><%= currentUser.username %> Profile</h1>

<a class="" href="/recipes/<%= currentUser._id %>/favourites">Favourite Recipes</a>
<%- include("../partials/footer") %> 