<%- include("../partials/header")  %> 
  <h1>New Comment</h1>
<form action="/recipes/<%= recipe._id %>/comments" method="POST">
<input  placeholder="content" type="text" name="comment[content]">

<button>Submit</button>
</form>

<%- include("../partials/footer")  %> 