.bg-green {
  background-color: #3C4A3E;
  
}
body {
  padding-top: 70px;
}
nav a {
  color: white;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  transition: ease-in-out 0.1s;
}
nav a:hover {
  transition: ease-in-out 0.1s;

  color: #e9e9e9;
}
#search {
  border: none;
}
.btn-outline {
  background-color: rgb(96,165,49);
  color: white;
}
.btn-outline:hover {
  background-color: rgb(75, 129, 39);
  color: white;
}
.navbar-toggler-icon {
  
}