

div h2 {
  font-family: 'Raleway', sans-serif;
  padding: 0px;
  margin: 0px;
}

.dietary {
  border-radius: 50%;
  color: white;
  font-weight: 600;
  margin-right: 0.2rem;
  background-color: rgb(96,165,49);
}




div p {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  padding: 0px;
  margin: 0px;
}
#sort .fluid-container{
  border: 2px solid #eeeeee
}
#sort div p {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  padding: 0px;
  margin: 0px;
}
div .title {
  font-family: 'Raleway', sans-serif;
  font-size: 2.1rem;
  font-weight: 400;
}

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.views {
  color: black;
  float: right;
}



.scrolls {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 80px;
  white-space:nowrap
}
.imageDiv img {
  box-shadow: 1px 1px 10px #999;
  margin: 2px;
  max-height: 50px;
  cursor: pointer;
  display:inline-block;
  *display:inline;/* For IE7*/
  *zoom:1;/* For IE7*/
  vertical-align:top;
}


  .card {
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.1), 0 0.5px 10px 0 rgba(0, 0, 0, 0.14);
  }
  .card-img-top {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30vh;
    
    
  }
  .recipeImage{
    min-height: 100%;
    left: -15px;
    top: -15px;
    position: absolute;
    min-width: 100%;
    
    
    
    
    transition: ease-in-out 0.5s;
  }
  .card-img-top:after {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    content: "";
    display: block;
    padding-bottom: 100%;
  }


  #search {
    position: relative;
    width: 80%;
    justify-content: center;
  }

  
.search {
  margin: 12px 0;
  width: 100%;
  position: relative;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
}

.searchTerm {
  width: 100%;
  border: 3px solid #60A531;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #3C4A3E;
}

.searchButton {
  width: fit-content;
  height: 50px;
  transition: ease-in-out 0.2s;
  border: 1px solid #60A531;
  background: #60A531;
  text-align: center;
  color: #fff;

  cursor: pointer;
  font-size: 20px;
}
.sort {
  border-radius: 0 5px 5px 0;
}
.search-drop {
  z-index: 70;
}
.search-btn {
  position: absolute;
  right:0;
  top: 50px;
}
/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 70%;
  position: relative;

  z-index: 50;
  top: 17px;
  left: 50%;
  transform: translate(-50%, -50%);
}
  #bar {
    
    width: 100%;
    background-color: #f9f9f9;
  }
  .special {
    max-width: 100%
  }
  .fa-eye {
    color: #FE4042;
  }

  .recipe-title {
    left: 50%;
    top: 26.3vh;
    transform: translateX(-50%);
    position: absolute;
    font-size: 1.7vh;
    font-weight: 600;
    padding: 10px;
    margin: auto;
    color: white;
    border-radius: 3px;
    max-width: 100%;
    text-transform: uppercase;
    background-color: #60A531;
    width: fit-content;
  }

  .recipe-view {
    color: #FE4042;
    font-weight: 300;
  }
  .recipe-view:hover {
    transition: ease-in-out 1s;
    ;
    color: #ff2b2e;
  }

  .title {
    padding-left: 20px;
    border-radius: 3px;
    background-color: #60A531;
    color: white;
  }
  .fluid-container {
    background-color: #f9f9f9;
  }
  #container .fluid-container .a{
    margin: 0 10%;
  }
  
  .fluid-container:nth-of-type(3){
    background-color: #f9f9f9;
  }

  .random-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .circle-image:hover {
      transition: 0.1s;
      -ms-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
  }
  .circles {
    
  }
  .circle-image {
    transition: 0.1s;
    border-radius: 50%;
    width: 8rem; 
    height: 8rem;
    object-fit: cover;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .overflow {
    overflow-x: hidden; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    
}

.caption {
    display: block;
}

.recipe-image {
  width: 1.3vw;
  height: 1.3vw;
  border-radius: 50%;
  object-fit: cover;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}

.recipes {
  margin: 0 10%;
}

.featured {
  
  margin: 0 9%;
  overflow-y: hidden;
  }

.random-recipe-name {
  background-color: rgba(0, 0, 0,0.4);
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: white;
}
.featured-card {
  position: relative;
    width:30rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 300px;
    object-fit: cover;
}
#container {
 
  position: relative;
}
.view-all {
  color: #FF7674;
}
view-all:hover {
  color: #FF7674;
}

.favourite {
  position: absolute;
  text-align: center;
  transform: translateX(-100%);
  top: 0;
  width: 80px;
  height: 80px;
  left: 100%;
  font-size: 3rem;
  margin: auto;
  z-index: 50;
  transition: ease-in-out 0.3s;
  background-color: rgba(96,165,49, 10%);
}


.favourited-color {
  transition: ease-in-out 0.4s;
  color: #FE4042;
}



.featured-desc {
  font-size: 1.5rem;
  font-weight: 500;
  height: fit-content;
  color: white;
  background-color: rgb(96,165,49);
}

.zoom:hover {
  transition: 0.1s;
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
.right {
  font-size: 2.5rem;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  color: white;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.left {
 
  font-size: 2.5rem;
  position: absolute;
  cursor: pointer;
  left: 15px;
  top: 50%;
  color: white;
  z-index: 100;
  transform: translateY(-50%);
}
.chevron {
  background-color: rgb(96,165,49);
  padding: 5px;
  border-radius: 5px;
  transition: ease-in-out 0.2s;
  color: white;
}
.zoom {
  transition: 0.1s;
object-fit: cover;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}
@media(hover: hover) { 
  
  .recipeImage:hover{
    transform: scale(0.97);
    transition: ease-in-out 0.5s;
  }
  .searchButton:hover {
    transition: ease-in-out 0.2s;
    background-color: rgb(74, 128, 38);
  }


  .favourite:hover {
    transition: ease-in-out 0.3s;
    color: #fd686a;
    background-color: rgb(96,165,49);
  }
  .chevron:hover {
    transition: ease-in-out 0.2s;
    background-color: rgb(74, 128, 38);
    color: rgb(172, 172, 172);
  }
}
/* phone sizing */
@media only screen and (max-width: 768px) {
  .recipe-description {
    font-size: 0.8rem;
  }
  .recipe-image {
    width: 3vw;
    height: 3vw;
  }
  #cardbody {
    padding: 20px 2px 0 2px;
  }
  div .title {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
  }
  .wrap{
    width: 100%;
    
  }
  #container .fluid-container .a{
    margin: 0;
  }
  
  #sort div p {
    
    font-size: 1.4rem;
    
    }
    .recipes {
      margin: 15px;
    }
    .featured {
      margin: 0;
      
      }

      .featured-card {

          width:23rem;

          height: 200px;
      }

      .circle-image {

        width: 20vw; 
        height: 20vw;

      }
