
html {
  height: 100%;
}

.form {
  background-color: #FFFFFF;
  border: 1px solid #F1F1F1;
}

.suggested {
  background-color: #FFFFFF;
  border: 1px solid #F1F1F1;
}
body {
  background-color: #FAFAFA;
  padding-top: 70px;
}