img {
  width: 10em;
  height:100%;
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.row:nth-of-type(1) {
  background-color: white;
  padding: 2vh;
  
}
h1 {
  font-size: 1em;
}
.btn-green {
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  font-size: 2vw;
  position: absolute;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 600;
  background-color: rgb(96,165,49);
  color: white;
}

@media only screen and (max-width: 600px) {
  .btn-green {
    font-size: 5vw;
  }
}

.picture {
  position: relative;
  width: 100%;
}

.btn-follow {
  position: absolute;
  left: 0;
  font-size: 1.2rem;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 600;
  background-color: rgb(96,165,49);
  color: white;
}
.btn-follow:hover {
  text-decoration: none;
  position: absolute;
  left: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 600;
  background-color: rgb(81, 139, 42);
  color: white;
}

.card {
  position: relative;
}
.btn-green:hover {
  background-color: rgb(80, 138, 41);
  color: white;
}

.general {
  background-color: white;
  margin-top: 2vw;
  height: 100%;
}
h2 {
  color: white;
  font-weight: 600;
  background-color: rgb(80, 138, 41);
}
#form {

  text-align: center;
}
.form-control {
  width: 50%;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  display: inline-block;
  
}