div h2 {
  font-family: 'Raleway', sans-serif;
  padding: 0px;
  margin: 0px;
}
div p {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  padding: 0px;
  margin: 0px;
}
.fluid-container {
  
  min-height: 100vh;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
}

.searchTerm {
  width: 100%;
  border: 3px solid #60A531;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}
html {
  height: 100%;
}
.searchTerm:focus{
  color: #3C4A3E;
}
.results {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  display: inline;
  margin-left: 10px;
}
.searchButton {
  width: fit-content;
  height: 50px;
  border: 1px solid #60A531;
  background: #60A531;
  text-align: center;
  color: #fff;
  
  cursor: pointer;
  font-size: 20px;
}
.sort {
  border-radius: 0 5px 5px 0;
}
.search-btn {
  position: absolute;
  right:0;
  
  top: 50px;
}
/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 70%;
  position: relative;

  z-index: 50;
  top: 21px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.back {
  background-color: rgb(96,165,49);
  border-radius: 5px;
  font-size: 2rem;
  color: white;
}
.back:hover {
  background-color: rgb(81, 139, 42);
  color: white;
  text-decoration: none;
}


.card {
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.1), 0 0.5px 10px 0 rgba(0, 0, 0, 0.14);
}
.card-img-top {
  position: relative;
  min-width: 100%;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30vh;
    
    object-fit: cover;
}
.recipeImage {
  min-height: 110%;
  left: -15px;
  top: -15px;
  position: absolute;
  min-width: 110%;
  transition: ease-in-out 0.5s;
}
.card-img-top:after {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  content: "";
  display: block;
  padding-bottom: 100%;
}
.views {
  color: black;
  float: right;
}


  .fa-eye {
    color: #FE4042;
  }

  



.recipe-title {
  left: 50%;
  top: 27vh;
  transform: translateX(-50%);
  position: absolute;
  font-size: 1.7vh;
  font-weight: 600;
  max-width: 100%;
  padding: 10px;
  margin: auto;
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #60A531;
  width: fit-content;
}

.recipe-view {
  color: #FE4042;
  font-weight: 300;
}

.recipe-view:hover {
  transition: ease-in-out 1s;
  ;
  color: #ff2b2e;
}

.title {
  padding-left: 20px;
  border-radius: 3px;
  background-color: #60A531;
  color: white;
}

.favourite {
  position: absolute;
  text-align: center;
  transform: translateX(-100%);
  top: 0;
  width: 80px;
  height: 80px;
  left: 100%;
  font-size: 3rem;
  margin: auto;
  z-index: 5;
  transition: ease-in-out 0.3s;
  background-color: rgba(96,165,49, 10%);
}
.favourite:hover {
  transition: ease-in-out 0.3s;
  color: #fd686a;
  background-color: rgb(96,165,49);
}

.favourited-color {
  transition: ease-in-out 0.4s;
  color: #FE4042;
}

.recipe-image {
  width: 1.3vw;
  height: 1.3vw;
  border-radius: 50%;
  object-fit: cover;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}
h1 {
  font-family: 'Raleway', sans-serif;
  color: white;
  padding-left: 10px;
  background-color: rgb(96,165,49);;
}
div p {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  padding: 0px;
  margin: 0px;
}
.btn-next {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  float: right;
  margin-right: 10px;
}
.btn-prev {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  float: left;
  margin-left: 10px;

}
html {
  min-height: 100vh;
}
body {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  
}
.footer {
  position: relative;
  
  
}

@media(hover: hover) {
  .searchButton:hover {
    transition: ease-in-out 0.2s;
    background-color: rgb(74, 128, 38);
  }
  .recipeImage:hover{
    transform: scale(0.97);
    transition: ease-in-out 0.5s;
  }
}


@media only screen and (max-width: 575px) {
  .wrap{
    width: 100%;
  }
  .card-img-top {
    
    
  }
  .recipe-title {
    
    top: 37vh;
    
  }
}
