body {
  padding-top: 70px;
}

.comment-image {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  object-fit: cover;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}
.author-image {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  object-fit: cover;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}