body {
  background-color: #FAFAFA;
  
}

.content {
  background-color: white;
  padding: 12px;
}

.comment-image {
  width: 3vw;
  height: 3vw;
  
  object-fit: cover;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}
.profile {
  position: relative;
  font-family: 'Raleway', sans-serif;
}
p {
  font-family: 'Raleway', sans-serif;
}
.author-image {
  margin: 0;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  object-fit: cover;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  font-family: 'Raleway', sans-serif;
  padding-left: 10px;
  color: white;
  font-weight: 500;
  background-color: #60A531;
}
.btn-link {
  color: white;
  text-align: left;
  font-size: 1.5rem;
}
.btn-link:hover {
  text-decoration: none;
  color: #f1f1f1;
}

.btn {
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #60A531;
  border: none;
}

.btn:hover {
  background-color: #508b29;
  border: none;
}

.list-group-item {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.cook-info {
  margin-top: 20px;
}
.card-header {
  color: white;
  
  font-family: 'Raleway', sans-serif;
  background-color: #60A531;
}
.card-img-top {
  position: relative;
  min-width: 100%;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30vh;
    
    object-fit: cover;
}
.recipeImage {
  min-height: 100%;
  left: -15px;
  top: -15px;
  position: absolute;
  min-width: 100%;
  transition: ease-in-out 0.5s;
}
.card-img-top:after {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card {
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.1), 0 0.5px 10px 0 rgba(0, 0, 0, 0.14);
}
.content-card {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 30vw;
  object-fit: cover;
}

.recipe-title {
  left: 50%;
  top: 27vh;
  transform: translateX(-50%);
  position: absolute;
  font-size: 1.7vh;
  font-weight: 600;
  padding: 10px;
  margin: auto;
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #60A531;
  width: fit-content;
}
.content-card:after {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  content: "";
  display: block;
  padding-bottom: 100%;
}

.suggested-card {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  object-fit: cover;
}


.dietary {
  margin-right: 0.2em;
  color: white;
  background-color: rgb(96,165,49);
  border-radius: 50%;
}
.dietary p {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
}

.recipe-view {
  color: #FE4042;
  font-weight: 300;
}
.recipe-view:hover {
  transition: ease-in-out 1s;
  ;
  color: #ff2b2e;
}

.title {
  padding-left: 20px;
  border-radius: 3px;
  background-color: #60A531;
  color: white;
}
#small {
  font-size: 4rem;
}
.favourite {
  transition: ease-in-out 0.4s;
  position: absolute;
  text-align: center;
  transform: translateX(-100%);
  top: 0;
  width: 160px;
  height: 160px;
  left: 100%;
  font-size: 6rem;
  margin: auto;
  z-index: 5;
  transition: ease-in-out 0.3s;
  background-color: rgba(96,165,49, 10%);
}
.favouritesmall {
  transition: ease-in-out 0.4s;
  position: absolute;
  text-align: center;
  transform: translateX(-100%);
  top: 0;
  width: 90px;
  height: 90px;
  left: 100%;
  font-size: 3rem;
  margin: auto;
  z-index: 5;
  transition: ease-in-out 0.3s;
  background-color: rgba(96,165,49, 10%);
}
.views {
  color: black;
  float: right;
}
@media(hover: hover) {
.favourite:hover {
  transition: ease-in-out 0.3s;
  color: #fd686a;
  background-color: rgb(96,165,49);
}
.favouritesmall:hover {
  transition: ease-in-out 0.3s;
  color: #fd686a;
  background-color: rgb(96,165,49);
}

}


.favourited-color {
  transition: ease-in-out 0.4s;
  color: #FE4042;
}
.checkbox {
  border: none;
}
.recipe-image {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  object-fit: cover;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}
.fa-eye {
  color: #FE4042;
}
@media(hover:hover) {
  .recipeImage:hover {
    transition: ease-in-out 0.5s;
    transform: scale(0.97);
  }
}
@media only screen and (max-width: 1140px) {
  card-img-top {
    height: 100vw;
  }
}
@media (min-width:480px) {
  .fluid-container {
    margin: 0;
  }
}
@media (min-width:1000px) {
  .fluid-container {
    margin: 0 10%;
  }
}
@media only screen and (max-width: 768px) {

.favourite {
  font-size: 4rem;
}
}
.edit {
  position: absolute;
  right: 0;
  top: 0;
}
.del {
  position: absolute;
  right: 5%;
  top: 0;
}

@media only screen and (max-width: 768px) {
  .content-card {
    height: 70vw;
  }
  .stars {
    font-size: 38px;
  }
  .bottom-star {
    font-size: 38px;
  }
}