.card {
  margin: 20px 0px;
}


.container {
  height: 100%;
}
.body {
  min-height: 100vh;
}

html {
  min-height: 100vh;
}
body {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  
}