<%- include("../partials/header")  %> 
  <h1 class="text-center">New Recipe</h1>
<form action="/recipes" method="POST">
  <div class="container">
    <input   placeholder="dish name" type="text" name="recipe[name]">
    <input  placeholder="image link" type="text" name="recipe[image]">
    <div class="mt-3">
      <input class="w-50 h-25 d-inline-block" placeholder="description" type="text" name="recipe[description]">
    </div>
    <div class="mt-3">
      <label>prep <input max="60" placeholder="hours" type="text" name="recipe[prepHour]"></label>
      <input max="60" placeholder="minutes" type="number" name="recipe[prepMinute]">
    </div>
    <div class="mt-3">
      <label>cook <input max="60"  placeholder="hours" type="text" name="recipe[cookHour]"></label>
      <input max="60"  placeholder="minutes" type="text" name="recipe[cookMinute]">
    </div>
      <input  placeholder="servings" type="text" name="recipe[servings]">

    <div class="mt-3">
      <textarea class="w-50" placeholder="ingredients... Put each ingredient on a new line using the enter key." name="ingredients"cols="30" rows="10"></textarea>
    </div>
  <div class="mt-3">
    <textarea class="w-50" placeholder="method... Put each method segment on a new line using the enter key." name="method"cols="30" rows="10"></textarea>
  </div>
    <button class="btn btn-success">Submit</button>
  </div>


</form>

<%- include("../partials/footer")  %> 